<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='sty.css') }}">
</head>
<body>
    <div class="container">
    <form onreset="clearMessage()" action="/download-link" method="post" enctype="multipart/form-data">

        <label for="fileUpload">Upload a file(.pdf, .jpg, .png, .txt max out 10MB):</label>
        <input type="file" id="fileUpload" name="fileUpload" accept=".pdf, .jpg, .png, .txt" required>

        <p id="message" style="color: red;"></p>
      
        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
      </form>
    
    <div class="file-list">
    <h1>Files in S3 Bucket</h1>
    <ul>
        {% for file in files %}
            <li>
            <a href="https://cloudcompeter.s3.eu-north-1.amazonaws.com/download/{{ file }}">
              {{ file }}
            </a>
            </li>
        {% endfor %}
    </ul>
</div>
</div>
      <script>
          const fileInput = document.getElementById("fileUpload");
          const message = document.getElementById("message");

          fileInput.addEventListener("change", function () {
          const allowedTypes = ["application/pdf","image/jpeg", "image/png", "text/plain"];
          const file = this.files[0];
      
          message.textContent = "";
          message.style.color = "red";
      
          if (!file) {
            message.textContent = "This file has been removed!";
            return;
          }
      
          if (!allowedTypes.includes(file.type)) {
            message.textContent = "❌ This file type is not allowed!";
            this.value = "";
            return;
          }
      
          if (file.size > 10 * 1024 * 1024) {
            message.textContent = "❌ File is too large. Max size is 10MB.";
            this.value = "";
            return;
          }
      
          message.textContent = "✅ File looks good!";
          message.style.color = "green";
        });
      
        function clearMessage() {
          message.textContent = "";
          message.style.color = "red";
        }
      </script>
      
</body>
</html>